@{
    ViewData["Title"] = "Access Denied";
}

<div class="container-fluid px-4">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-6">
            <div class="text-center">
                <i class="fas fa-lock fa-5x text-danger mb-4"></i>
                <h1 class="display-4 fw-bold">Access Denied</h1>
                <p class="fs-5">You do not have permission to access this resource.</p>
                <p class="lead">
                    Please contact your administrator if you believe you should have access to this page.
                </p>
                <div class="mt-4">
                    <a href="/Home/Dashboard" class="btn btn-primary">
                        <i class="fas fa-home"></i> Go to Dashboard
                    </a>
                    <a href="javascript:history.back()" class="btn btn-secondary">
                        <i class="fas fa-arrow-left"></i> Go Back
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>